<!--아래 게시판 내용 나온는 부분.-->
<div class="row">
  <% @every_code.each do |p| %>
      <div class ="row">
        <div class="col-md-10 col-xs-8">
          <code><%= p.language %></code>
          <a href="/r/<%= p.id %>">
            <%= p.description %>
          </a>
        </div>
        <div class="col-md-2 col-xs-4" style="text-align: right;">
          <%= time_ago_in_words(p.created_at) %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <% p.source.split(/\n/, -1)[0..2].each do |line| %>
             <%= line %><br>
            <% end %>
            ...
          </div>
        </div>
      </div>
      <hr />
  <% end %>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <%= will_paginate @every_code, renderer: BootstrapPagination::Rails %>
  </div>
</div>
