<video autoplay loop id='bgvid'>
    <source src="/video/intro.mp4" type="video/mp4">
    <source src="/video/intro.webm" type="video/webm">
</video>

<div class="jumbotron">
  <h1 align="center">복붙<small>.beta</small></h1>
  <div>
    <p align="center"> <span id="quote"></span></p>
  </div>
  <br>
  <!-- 넘겨주는 부분 form helper사용하도록 수정해야함 WJ-->
  <form action="/paste" method="POST">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-3">
        <select name = "lang" class="form-control" >
          <% @languages.each do |l| %>
            <% if user_signed_in? %>
              <%if l.value==current_user.language and  %>
                <option value="<%=current_user.language%>" selected><%=l.name%></option>
              <% else %>
                <option value="<%= l.value %>"><%= l.name %></option>
              <% end %>
            <% else %>
              <option value="<%= l.value %>"><%= l.name %></option>
            <% end %>
          <%end%>
        </select>
      </div><!-- ./col-md -->

      <div class="col-md-4">
        <button type="submit" class="btn btn-primary">확인</button>
      </div><!-- ./col-md -->

      <div class="col-md-5"></div>
    </div><!-- ./row -->
  </form>
</div>

<%= render :partial => "home/partial/footer" %>

<!-- script for quote -->
<script>
  $(function(){
      $("#quote").typed({
        strings: [
          "printf(\"<strong>코드를 복사하세요!</strong>\n\");",
          "echo \"<strong>그리고 붙여 넣으세요</strong>\"",
          "println(\"<strong>친구들과 url를 공유해봐요 >_<</strong>\");",
          "puts \"<strong>복사하기 버튼을 눌러 쉽게 코드를 복사하세요</strong>\" ",
          "Console.WriteLine(\"<strong>복붙과 함께 해피코딩 :) !</strong>\");"
          ],
        typeSpeed: 0
      });
  });
</script>
