<div class="jumbotron">
  <form action="/write" method="POST">
    <div class="row">
      <div class="col-md-2">
        <select name = "lang" class="form-control">
          <% @languages.each do |l| %>
            <% if l.value === @source_type %>
              <option value="<%= l.value %>" selected><%= l.name %></option>
            <% else %>
              <option value="<%= l.value %>"><%= l.name %></option>
            <% end %>
          <% end %>
        </select>
      </div><!-- ./col-md-2 -->
      <div class="col-md-10">
        <input name="description" type="text" class="form-control" placeholder="여기에 설명을 적어주세요" required>
      </div><!-- ./col-md-10 -->
    </div><!-- ./row -->

    <div class="row">
      <div class="col-md-12">
        <textarea name="source" class="form-control" placeholder="여기에 붙여넣기!" rows="17" id="code"></textarea>
      </div>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="shared" checked>이 코드를 다른 사람들에게 공유합니다. (체크를 해제하면 주소로만 접근할 수 있습니다.)
      </label>
    </div>

    <% if user_signed_in? %>
      <input type="hidden" name="id" value="<%=current_user.id%>"/>
    <% else %>
      <input type="hidden" name="id" value="anonymous"/>
    <% end %>
    <button type="submit" class="btn btn-primary">복 붙!</button>
  </form>
</div>

<script>
$(document).ready(function () {
  var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
    lineNumbers: true,
    matchBrackets: true
  });
});
</script>
